.productCard {
  background: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
}

.producCard img {
  width: 100%;
  height: auto;

  display: flex;
}

.productCardMainInfo {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.productTitle {
  font-size: 1rem;
  color: #333;
}

.productImage {
  max-width: 100%;
  height: auto;
  max-height: 300px;
  object-fit: contain;
}

.productPrice {
  font-weight: bold;
  color: #27ae60;
}

.buyButton {
  padding: 0.5rem 1rem;
  background-color: #27ae60;
  border: none;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}

.buyButton:hover {
  background-color: #219150;
}
