.header {
  background: #333;
  padding: 1rem;

  position: fixed;
  width: 100%;
  top: 0;
}

.header ul {
  display: flex;
  list-style: none;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

.header a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.header a:hover {
  text-decoration: underline;
}
